/* COLORS 

from drosophila photo
#c30;  dark red from eye
#330;  dark brownish green from abdomen stripes
#cc3;  lime green from leaf
#c63;  brown from hairy back
#963;  between stripes
*/



* { margin: 0; padding: 0; }

body {
	color: #000;
	font-family: helvetica, sans-serif;
	font-size: 90%;
	min-width: 700px;
	max-width: 1000px;
	}


						/* GRID */


#banner, #content {
	border-color: #c30;
	border-style: solid;
	margin-left: 200px;
	margin-right: 2em;
	}	

#banner { 
	border-width: 0 2px;
	}
	
#content {
	border-width: 2px;
	padding: 2em 1em;
	margin: 0 2em 1em 200px;
	}

#footer {
	clear: both;
	margin: 0;
	margin-left: 200px;
	padding: 0 0 3em 0;
	font-size: 75%;
	border-width: 0;
	}

#footer p, #footer ul {
	text-align: left;
	}

#footer li {
	list-style-type: none;
	margin: 0 0 0.5em 0;
	line-height: 100%;
	}



						/* BANNERS */


#banner { 
	position: relative;
	}

#banner h1 {
	font-size: 200%;
	margin: 0;
	width: 100%;
	display: block;
	}


#banner h1 a {
	display: table-cell;
	text-decoration: none;
	height: 200px;
	width: 100%;
	vertical-align: bottom;
	padding: 0 0 10px 10px;
	color: #fff;
	}
	
	
#banner h2 {
	position: absolute;
	bottom: 0;
	right:0;
	margin:0;
	padding: 0 10px 10px 0;
	color: #fff;
	}

body.home #banner {
	background-image: url(graphics/banners/home.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	
body.people #banner {
	background-image: url(graphics/banners/people.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
		
body.photos #banner {
	background-image: url(graphics/banners/photos.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	
body.photos #banner h1 a, body.photos #banner h2 {
	color: #c63;
	}
	
	
body.contact #banner {
	background-image: url(graphics/banners/contact.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	
body.publications #banner {
	background-image: url(graphics/banners/publications.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	
body.teaching #banner {
	background-image: url(graphics/banners/teaching.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	
body.research #banner {
	background-image: url(graphics/banners/research.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	
body.join #banner {
	background-image: url(graphics/banners/join.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}	
	
body.news #banner {
	background-image: url(graphics/banners/news.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	}	
			
						/* NAVIGATION */

#nav a:link, #nav a:visited, #nav a:hover, #nav a:active {
	border-style: solid;
	border-color: #c30;
	}

#nav {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px 10px 0 0;
	width: 185px;
	}

#nav h2, #outsidenav h2 {display: none;}

#nav ul { margin: 0 0 2em 0; }

#nav ul li {
	list-style: none;
	text-align: right;
	margin: 5px 0;
	display: block;
	}

#nav a:link, #nav a:visited, #nav a:hover, #nav a:active {
	display: block;
	width: 100%;					/* VERY important */
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
	color: #c63;
	border-width: 0;
	padding: 0 10px 0 0;
	}

#nav a:hover, #nav a:active, #nav a.current:link, #nav a.current:visited {
	color: #c30;
	border-color: #c30;
	border-right-width: 5px;
	}

#nav .skip {
	position: absolute;
	left: -9999px;
	}
	
#nav .outlinks a:hover, #nav .outlinks a:active, 
#nav .outlinks a.current:link, #nav .outlinks a.current:visited {
	border-right-width: 0;
	}
	
#nav .outlinks li {
	font-size: 80%;
	}

						/* FORM ELEMENTS */


select, textarea {
	margin: 1em 0;
	}

input {
	margin: 1em 1em 1em 0;
	}



						/* TEXT ELEMENTS */


blockquote {
	line-height: 105%;
	border-width: 0 0 0 6px;
	border-style: double;
	border-color: #c00;
	color: #333;
	padding: 0 1em;
	margin: 1.5em 4em;
	}

blockquote p {
	margin-bottom: 0.75em;
	}

h1, h2, h3, h4 {
	color: #330;
	margin: 0 0 1em 0;
	}

h1 {
	font-size: 150%;
	}

h2 {
	font-size: 140%;
	}

h3 {
	font-size: 125%;
	}

h4 {
	font-size: 100%;
	font-style: normal;
	text-decoration: underline;
	}

body.teaching h4 {
	text-transform: uppercase;
	font-style: normal;
	}

h5 {
	font-size: 110%;

	}	

p {
	color: #000;
	line-height: 125%;
	margin-bottom: 1.25em;
	text-align: left;
	}

abbr, abbr.info {
	speak: spell-out;
	}

acronym, acronym.info {
	speak: normal;
	}

.info {
	cursor: help;
	border-bottom: 1px dotted black;
	}

.hide {
	display: none;
	}




						/* LIST ELEMENTS */


ul, ol, dl {
	line-height: 120%;
	margin-bottom: 1.5em;
	}

li {
	margin-left: 2em;
	margin-bottom: 0.25em
	}

li.no {
	list-style: none;
	margin: .5em 0;
	}

li.inline {
	display: inline;
	list-style: none;
	border-right: 1px dotted #666;
	padding: 0 1.5em;
	}

dt {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 85%;
	}
	
dd {
	text-indent: 1em;
	}
	
ul#publications li {
	list-style-type: none;
	margin: 0 0 1em 2em;
	text-indent: -2em;
	}

						/* LINKS */


a:link, a:visited, a:hover, a:active {
	text-decoration: underline;
	}

a:link {
	color: #c30;
	}

a:visited {
	color: #330;
	}

a:hover { 
	text-decoration: none;
	}

.pdf {
	background:url(graphics/pdf.gif) center left no-repeat;
	padding:1px 0 0 25px;
	white-space: nowrap;
	margin-right: -1.5em;
	}

a.pdf:link, a.pdf:visited, a.pdf:hover, a.pdf:active {
	color: #fff;

	}

						/* DIVS FLOATS AND CLEARS */
div.clearleft {
	clear: left;
	margin-top: 30px;
	}

.floatleft {
	float: left;
	}

.floatright {
	float: right;
	}

.clearleft {
	clear: left;
	}

.clearright {
	clear: right;
	}



						/* PEOPLE PAGE */
						
div.bio {
	padding-bottom: 15px;
	min-height: 165px;
	}

div.bio img {
	position: absolute;
	left: 215px;
	margin-top:0;
	border: 2px solid black;
	}
	
div.bio h3, 
div.bio p,
div.bio ul {
	margin-left: 170px;
	}
	
div.bio ul {
	list-style: none;
	margin-bottom: 0.5em;
	}
	
div.bio li {
	margin: 0;
	
	}
	
div.bio h2 {
	margin-bottom: 0;
	}
	
ul#mascots {
	text-align: center;
	list-style-type: none;
	}
	
ul#mascots li {
	display: inline;
	margin: 0;
	padding: 0;
	}
	
ul#mascots li img {
	margin: 5px;
	}

							/* IMAGES */


img {border-width: 0;}

#content img {
	border: 2px solid #330;
	}

body.home div#content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	}

body.news img {
	float: right;
	margin: 0 0 10px 10px;
	}
	
body.research div#content div {
	clear: both;
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
	}

body.research div#content div img {
	margin: 5px;
	}



							/* TABLES */
table {
	margin-bottom: 2em;
	border: 1px solid #c00;
	background-color: #fee;
	}

caption {
	font-size: 0.9em;
	text-align: left;
	margin-bottom: 0.25em;
	font-style: italic;
	}

th {
	padding: 0.125em 1em 0.25em;
	}

td {
	padding: 0.125em 0.5em;
	text-align: right;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #c00;
	background-color: #fff;
	}

tr {
	}














